Youtube project
Functional requirements:
1. Sign up
2. Every user has a channel
3. User can upload videos on the channel (simpler)
    a. Simpler - user simply gives us a url to their videos
    b. harder - user uploads a video by dragging it to the browser
4. Thumbnails (images)
5. Public/Unlisted videos/Private
6. Likes, comments
    a. no nested comments
    b. nested till one layer
    c. infinitely nested comments
7. Recommendations
    a. Every user sees the same feed (no ML)
    b. Personalised Recommendations (recommendation system using ML)
8. Watch history (youtube.com/feed/history)
9. Subscriptions
10. Search
    a. title (SELECT * FROM videos where title Like "%akshat%"
    b. semantic Search
11. Subtitles
    a. user uploads srt file
    b. auto generated subtitles (openai whisper)
12. Video transcoding



1. Sign up / Sign in / feed / video / channels / history
    - email password submit
    - On feed page channels and multiple videos and search bar
    - On video page - video, likes comments and on sidebar multiple videos
    - history has only pages
    - channels is simple
2. Backend
    a. DB schemas
        - Users (id, email, password, firstname, lastname, dob, gender)
        - channel (id, channel name, channel panel, profile picture, description, subscriber count, userId)
        - Subscriptions (Many to many relationships between users and other users as channels can be subscribed by multiple users)
        - uploads (id, channelId, videoUrl, thumbnail url, description, title, type: ["unlisted", private, public], likeCount)
        - likes (id, userId, uploadId)
        - comments (id, comment, userId, uploadId, createdAt)
        - watchHistory (id, userId, uploadId, watchedid)


Ideal way to create applications
1. schema
2. tests
3. backend
4. frontend


Endpoints
Not auth (signup, signin, feed, get video details)
auth (POST /uploads, my uploads get, 


Upload Service
- We can use object store for it from service like AWS S3, DO spaces or Cloudflare.
- We never store a full image / video inside a database. This is basically because of
    memory constraint and because we always try to insert that data in DB over which
    we can query.
- We always store images in an Object Store.
- An Object Store is a primitive just like a database where assets can be stored. The url
of that asset like image or video is stored in database.
- Object store cannot run any code. Their job is to just store data.

Note: The point of a backend server is that user should not be able to directly touch entries
of database. Or more precisely if without backend server user has logic in code to access database
then the user can inspect and get access of database. Similarly in object store we should use backend
to send data to it.
Firebase and Supabase are exceptions where the frontend directly talks to the db.
Now to send data to object store from backend. Suppose file is of 1GB and first frontend sends file to
backend. Backend runs on a RAM which has limited resources and it also has to handle many requests. The
process of backend will get killed this way.
Second approach of this can be to just send data to the server in chunks parition by parition. But that
will take a lot of time.
Third approach introduces a new concept with object stores of pre-signed urls.
The pre-signed url concept basically requires backend to give a pre-signed url to frontend when frontend
lets say demands to send 1 video of 4GB to object store. A new url is generated upload.s3.com.video/a.mp4?secrets=
 or anything similar which gives access of object store to frontend for that 1 request only.
All other checks for whether frontend is authorized and real user which can be allowed to store data on object store.
